#!/bin/sh

# save as .envrc, will use folder name as venv name

if [ ! -d ".venv" ]; then
    # Create venv
    python3 -m venv .venv
fi


# Defaults to proj folder name
VIRTUAL_ENV=$(basename "$(realpath "$PWD")")
    
# path to venv, direnv will run activate based on this
PATH="$PWD/.venv/bin:$PATH"
export VIRTUAL_ENV PATH
