#!/bin/sh

# save as .envrc, will use folder name as venv name

if [ -d ".venv" ]; then
    # Defaults to proj folder name
    VIRTUAL_ENV=$(basename "$(realpath "$PWD")")
    export VIRTUAL_ENV

    # shellcheck source=/dev/null
    . .venv/bin/activate
fi
